.ppf-div {
    width: 800px;
    margin: auto;
    position: relative;

    margin-bottom: 100px;

}


.background-jpg {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;

}


.pff-jpg {
    position: absolute;
    left: 70px;
    top: 185px;
    width: 185px;
    height: 185px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(241, 103, 53);
}


.user-name {
    position: relative;
    left: 267px;
    top: 8px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}